body, html {
  font-family: 'Sora' , sans-serif;
  background-color: #DAD5EC;
  height: auto;
}
#arrow {
  font-weight: bolder;
  margin-left: 5%;
  position: fixed;
  cursor: pointer;
  color: #000;
}
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .chat-output-container {
    width: 60%;
    border-radius: 5px;
    padding: 10px;
    height: 8cap
  }
  
  .chat-output {
    list-style: none;
    padding: 8%;
  }
  
  .chat-output li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-output .user-message {
    font-family: 'Sora' , sans-serif;
    background-color: #000;
    color: #FEF6D7;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    text-align: right;
  }
  .user-message{
    margin-left: 10%;
  }
  .bot-message{
    margin-right: 10%;
  }
  .chat-output .bot-message {
    font-family: 'Sora' , sans-serif;
    background-color: #FEF6D7;
    color: #000;
    width: fit-content;
    text-align: left;
  }
  
  .chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    margin-bottom: 5%;
    bottom: 0;
    width: 60%;
  }
  
  .chat-input {
    font-family: 'Sora' , sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #a9a7a7;
    border-radius: 5px;
    resize: none;
  }
  
  .send-button {
    font-family: 'Sora' , sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: #000;
    color: #fbf5dd;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  