body, html {
    height: 100%;
    margin: 0;
    background-color: #DAD5EC;
    font-family: 'Sora' , sans-serif;
  }
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
#codegen{
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    font-style: normal;
}
#subhead{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.body > a > button{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FEF6D7;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    cursor: pointer;
}